[/]
pipelines={'pipeline_default': {'name': <'Default'>, 'effects': <[<{'type': <'native_static_gaussian_blur'>, 'id': <'effect_000000000000'>, 'params': <{'radius': <30>, 'brightness': <0.59999999999999998>, 'unscaled_radius': <30>}>}>]>}}
settings-version=2

[appfolder]
blur=false
brightness=0.59999999999999998
sigma=30

[coverflow-alt-tab]
pipeline='pipeline_default'

[dash-to-dock]
blur=true
brightness=0.59999999999999998
pipeline='pipeline_default'
sigma=30
static-blur=true
style-dash-to-dock=0

[lockscreen]
pipeline='pipeline_default'

[overview]
pipeline='pipeline_default'

[panel]
brightness=0.59999999999999998
pipeline='pipeline_default'
sigma=30

[screenshot]
pipeline='pipeline_default'

[window-list]
brightness=0.59999999999999998
sigma=30
